<c-alert color="{{alert.type}}" class="d-flex align-items-center" *ngFor="let alert of alerts">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>{{alert.message}}</div>
</c-alert>
<h2>Lista de Departamentos</h2>
<table [hover]="true" cTable>
  <thead>
    <tr>
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-10">Nome</th>
      <th scope="col" class="col-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let department of departments; let index = index">
      <th scope="row">{{index+1}}</th>
      <td>{{ department.name }}</td>
      <td class="d-flex justify-content-end">
        <a (click)="remove(department.id)">
          <svg cIcon name="cil-trash" [title]="'Excluir'" size="1xl"></svg>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="mt-2 text-center" *ngIf="!departments.length">Nenhum dado exibido.</div>
