<c-toaster [ngStyle]="{display: 'contents'}">
  <c-toast class="w-100 my-2" [autohide]="true" [fade]="true" [visible]="true" [color]="alert.type" *ngFor="let alert of alerts">
    <c-toast-header>Alerta!</c-toast-header>
    <c-toast-body>{{alert.message}}</c-toast-body>
  </c-toast>
</c-toaster>
<div *ngIf="loader" class="d-flex justify-content-center align-items-center modal">
  <c-spinner color="info" variant="grow"></c-spinner>
</div>
<h2>Formulário de Pessoas</h2>
<form [formGroup]="peopleForm" (ngSubmit)="onSubmit()" class="my-3">
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label">
      Tipo de Pessoa
    </label>
    <c-col sm="10">
      <c-form-check inline *ngFor="let enum of kindPerson">
        <input cFormCheckInput [id]="'kindPerson'+enum" [value]="enum" formControlName="kindPerson" name="kindPerson" type="radio" title="Tipo de pessoa" />
        <label cFormCheckLabel [for]="'kindPerson'+enum">{{ enum | kindPersonDescription}}</label>
      </c-form-check>
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label">
      Qualificação
    </label>
    <c-col sm="10">
      <c-form-check inline *ngFor="let enum of profileType; let index = index">
        <input cFormCheckInput [id]="'teste' + index" [value]="enum" formControlName="profileType" name="profileType" type="radio" title="Qualificação"/>
        <label cFormCheckLabel [for]="'teste' + index">{{ enum | profileTypeDescription}}</label>
      </c-form-check>
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="document">
      {{ peopleForm.controls['kindPerson'].value == 1 ? 'CPF' : 'CNPJ' }}
    </label>
    <c-col sm="10">
      <input cFormControl id="document" formControlName="document" type="text" />
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="name">
      Nome
    </label>
    <c-col sm="10">
      <input cFormControl id="name" formControlName="name" required type="text" />
      <c-form-feedback [valid]="false">Por favor, informe o Nome.</c-form-feedback>
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="nickname">
      Apelido
    </label>
    <c-col sm="10">
      <input cFormControl id="nickname" formControlName="nickname" type="text" />
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="address">
      Endereço
    </label>
    <c-col sm="10">
      <input cFormControl id="address" formControlName="address" type="text" />
    </c-col>
  </c-row>
  <button cButton type="submit">Salvar</button>
</form>
