<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form
              [formGroup]="formAccount"
              (ngSubmit)="onSubmit()"
              cForm
              [validated]="validationForm"
            >
              <h1>Cadastrar</h1>
              <p class="text-medium-emphasis">Crie sua conta</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input
                  autoComplete="name"
                  cFormControl
                  placeholder="Nome de usuário"
                  required
                  type="text"
                  formControlName="userName"
                />
                <c-form-feedback [valid]="false">
                  Por favor, informe o Nome.
                </c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input
                  autoComplete="email"
                  formControlName="email"
                  cFormControl
                  placeholder="Email"
                  required
                  type="email"
                />
                <c-form-feedback [valid]="false">
                  Por favor, informe o Email.
                </c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input
                  autoComplete="new-password"
                  formControlName="password"
                  cFormControl
                  placeholder="Senha"
                  required
                  type="password"
                />
                <c-form-feedback [valid]="false">
                  Por favor, informe a Senha.
                </c-form-feedback>
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input
                  autoComplete="new-password"
                  formControlName="confirmPassword"
                  cFormControl
                  placeholder="Repita a senha"
                  required
                  type="password"
                />
                <c-form-feedback [valid]="false">
                  Por favor, Confirme a Senha.
                </c-form-feedback>
                <c-form-feedback
                  *ngIf="formAccount.controls['confirmPassword'].invalid"
                >
                  As senhas são diferentes!
                </c-form-feedback>
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" type="submit">
                  Criar conta
                </button>
                <a routerLink="/account" class="text-center mt-2 back-link">Voltar</a>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
