<div *ngIf="loader" class="d-flex justify-content-center align-items-center modal">
  <c-spinner color="info" variant="grow"></c-spinner>
</div>
<h2>Formulário de Departamentos</h2>
<form [formGroup]="departmentForm" (ngSubmit)="onSubmit()" [validated]="validationForm" cForm class="my-3">
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="name"> Nome </label>
    <c-col sm="10">
      <input cFormControl id="name" formControlName="name" required type="text" />
      <c-form-feedback [valid]="false">
        Por favor, informe o Nome.
      </c-form-feedback>
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-sm-2 col-form-label" for="name">
      Responsável
    </label>
    <c-col sm="10">
      <select id="peopleId" formControlName="peopleId" aria-label="Selecione um Responsável" required cSelect>
        <option *ngFor="let people of peoples" value="{{ people.id }}">
          {{ people.name }}
        </option>
      </select>
      <c-form-feedback [valid]="false"
        >Por favor, informe o Responsável.</c-form-feedback
      >
    </c-col>
  </c-row>
  <button cButton type="submit">Salvar</button>
</form>
